@import "tailwindcss";

@font-face {
  font-family: 'Atyp';
  src: url('/fonts/AtypDisplayTRIAL-Regular.otf') format('opentype');
  font-style: normal;
}

html,
body {
  background-color: #030303;
  color: #FBFBFB;
  /* max-width: 1280px; */
  margin: 0 auto;
  font-family: 'Atyp';
}


.linear {
  border: 1px solid transparent;
  border-image-source: linear-gradient(90deg, rgba(123, 92, 255, 0.1) -2.94%, #7B5CFF 49.17%, rgba(123, 92, 255, 0.1) 102.37%);
  border-image-slice: 1;
  backdrop-filter: blur(500px);
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-content {
  animation: marquee 20s linear infinite;
}
